*{
    padding: o;
    margin: 0;
    box-sizing: border-box;
}

.tutorial{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.tutorial .container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 3px solid black;
    width: 600px;
    height: 600px;
    background-color: aqua;
    padding: 20px;
    gap: 20px;
}
.tutorial .container .shapes{
    display: flex;
    justify-content: space-between;
    height: 70%;
    gap: 20px;
}
.tutorial .container .shapes .redsquare{
    border: 3px solid black;
    width: 50%;
    height: 100%;
    background-color: red;
    transition: 400ms all ease-in;
}
.tutorial .container .shapes .redsquare:hover{
    border: 3px solid black;
    width: 50%;
    background-color: red;
    margin-left: 20px;
    transition: 400ms all ease-out;
}
.tutorial .container .shapes .rectangle{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    height: 100%;
    width: 50%;
    
}
.tutorial .container .shapes .rectangle .rectg{
    display: flex;
    justify-content: space-between;
    border: 3px solid black;
    height: 30%;
    background-color: darkseagreen;
    transition: 400ms all ease-in;
 }
 .tutorial .container .shapes .rectangle .rectg:hover{
    display: flex;
    justify-content: space-between;
    border: 3px solid black;
    height: 30%;
    background-color: darkseagreen;
    margin-left: 20px;
    transition: 400ms all ease-out;
 }
.tutorial .container .shapes .rectangle .rectb{
    display: flex;
    justify-content: space-between;
    border: 3px solid black;
    height: 30%;
    background-color: rgb(75, 138, 152);
    transition: 400ms all ease-in; 
}
.tutorial .container .shapes .rectangle .rectb:hover{
    display: flex;
    justify-content: space-between;
    border: 3px solid black;
    height: 30%;
    background-color: rgb(75, 138, 152);
    margin-left: 20px;
    transition: 400ms all ease-out; 
}
.tutorial .container .shapes .rectangle .rectw{
    display: flex;
    justify-content: space-between;
    border: 3px solid black;
    height: 30%;
    background-color: whitesmoke; 
    transition: 400ms all ease-in;
}
.tutorial .container .shapes .rectangle .rectw:hover{
    display: flex;
    justify-content: space-between;
    border: 3px solid black;
    height: 30%;
    background-color: whitesmoke; 
    transition: 400ms all ease-out;
    margin-left: 20px;
}
.tutorial .container .bluerectangle{
    border: 3px solid black;
    height: 30%;
    background-color: blue;
    transition: 400 all ease-in;
}
.tutorial .container .bluerectangle:hover{
    border: 3px solid black;
    height: 30%;
    background-color: blue;
    margin-left: 20px;
    transition: 400ms all ease-out;
}
.tutorial p{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 100%;
    width: 100%;
    font-size: 40px;
} 